<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>题型训练</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/questionpractice.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/siliuji.css">
  <style type="text/css">
    *{
      padding: 0;
      margin: 0;
    }
    body{
      background: #f7f8fa;
    }
  </style>
</head>
<body>
<div class="logo">
  <img src="/img/logo.png"/>
  <div class="more-title1">
    <ul>
      <li><a href="/#transform">课程分类</a></li>
      <li><a href="/management/user_message">信息管理</a></li>
    </ul></div>
  {% if (userInfos.username == undefined) %}
  <i class="fa fa-user sign1" aria-hidden="true"></i>
  <!--<i class="glyphicon glyphicon-lock sign2"></i>-->
  <i class="fa fa-registered sign2" aria-hidden="true"></i>
  {% endif %}
  <div class="right_logo">
    <ul>
      {% if userInfos %}
      <li>
        <i class="fa fa-user sign1" aria-hidden="true" style="top: 28px;"></i>
        {% if userInfos.username == 'admin' %}
        <a href="/admin/admin_manage">{{userInfos.username}}</a>
        {% else %}
        <a href="/admin/user_message">{{userInfos.username}}</a>
        {% endif %}
      </li>
      {% else %}
      <li>
        <a href="/login">登录</a>
      </li>
      <li>
        <a href="/register">注册</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% block main %} {% endblock %}
<div class="footer">
  <p class="about-title">
    <strong>本科生在线英语学习系统</strong>
  </p>
  <p>这是一个致力于打造本科生简单学习英语的在线学习平台</p>
  <p>这里能让你看见你所需要的资料，让你快速的加入到学习当中去</p>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
  <script src="/js/admin_user_info.js"></script>
  <script src="/js/admin_topic_info.js"></script>
</div>
</body>
</html>
