{% extends 'common.html' %}
{% block main %}
  <div class="word-title">题型训练</div>
  <div class="big-content">
    <div class="top-pic-title">
      <div class="left-top same-box-size"><a href="/practice/part1"><img src="img/listen.jpg" alt="" /></a>
      </div>
      <div class="right-top same-box-size"><a href="/practice/part2"><img src="img/kaoyan.jpg"/></a>
      </div>
    </div>
      <div class="little-word1 word"><a href="/practice/part1">四六级英语</a></div>
      <div class="little-word2 word"><a href="/practice/part2">考研英语</a></div>
    <div class="bottom-pic-title">
      <div class="left-buttom same-box-size"><a href="/practice/part3"><img src="img/yasi.jpg"/></a>
      </div>
      <div class="right-buttom same-box-size"><a href="/practice/part4"><img src="img/major1.png"/></a>
      </div>
    </div>
    <div class="little-word3 word"><a href="/practice/part3">学雅思英语</a></div>
    <div class="little-word4 word"><a href="/practice/part4">专业英语</a></div>
  </div>
{% endblock %}