.footer{
    width: 94%;
    margin: 0 auto;
    padding: 40px 0px;
    color: #525558;
    text-align: center;
}
.footer p{
	display: block;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
