.initial{
	width: 550px;
	height: 661px;
	background-color: white;
	margin: 0 auto;
	overflow: hidden;
}
.register{
	width: 100%;
	font-size: 24px;
	text-align: center;
	margin-top: 48px;
}
.small{
	width: 100%;
	text-align: center;
	margin-top: 16px;
}
.input-frame{
	width: 352px;
	height: 220px;
	margin: 40px auto;
}
.input-frame-box{
	width: 352px;
	height: 47px;
	border: 1px solid #c4c6ca;
	border-radius: 8px;
	margin-bottom: 25px;
	position: relative;
}
.input-box-same{
	display: inline-block;
	width: 290px;
	height: 29px;
	border: 0;
	outline: none;
	font-size: 17px;
	position: absolute;
	left: 8px;
	top: 8px;
	padding: 8px;
	box-sizing: border-box;
}
.announce{
	text-align: center;
	width: 100%;
}
span a{
	text-decoration: none;
	color: #56abee;
}
.same-font-style{
		font-size: 14px;
}
.loading-button{
	text-align: center;
    margin-top: 30px;
    margin-bottom: 105px
}
.btn-default{
	width: 60%;
    display: inline-block;
    background: #487296;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}
.final-link{
	width: 352px;
	font-size: 14px;
	text-align: right;
	margin: 0 auto;
}
