{% extends '../engine/part_all_zuowen.html' %}
{% block content %}
<div class="content-concrete">
  <div class="left-frame-button">
    <div class="into-frame">专业类作文</div>
  </div>
  <div class="center-frame-pic">
    <span class="caption-title">（一）段首句 </span>
    <div class="some-little-word">
      <p> 1. 关于…人们有不同的观点。一些人认为……  There are different opinions among people as to ____. Some people suggest that ____.</p>
      <span class="into-some-word"> <p>2. 俗话说（常言道）…，它是我们前辈的经历，但是，即使在今天，它在许多场合仍然适用。There is an old saying______.  It is the experience of our forefathers，however，it is correct in many cases even today.</p></span>
      <div class="most-word">  <p>3. 现在，…，它们给我们的日常生活带来了许多危害。首先，……；其次，……。更为糟糕的是……。  Today, ____, which have brought a lot of harms in our daily life. First, ____ Second, ____. What makes things worse is that______.   </p>
        <p>4. 现在，…很普遍，许多人喜欢…，因为…，另外（而且）…。 Nowadays，it is common to ______. Many people like ______ because ______. Besides，______. </p>
        <p>5. 任何事物都是有两面性，……也不例外。它既有有利的一面，也有不利的一面。 Everything has two sides and ______ is not an exception，it has both advantages and disadvantages. . </p>
        <p>  6. 关于…人们的观点各不相同，一些人认为（说）…，在他们看来，… 的  People’s opinions about ______ vary from person to person. Some people say that ______. To them,_____</p>
        <p>7. 人类正面临着一个严重的问题…，这个问题变得越来越严重。 Man is now facing a big problem ______, which is becoming more and more serious.   </p>
        <p>8. ……已成为人的关注的热门话题，特别是在年青人当中，将引发激烈的辩论。  ______ has become a hot topic among people，especially among the young and heated debates are right on their way.</p>
        <p>9. ……在我们的日常生活中起着越来越重要的作用，它给我们带来了许多好处，但同时也引发一些严重的问题。  ______ has been playing an increasingly important role in our day-to-day life. it has brought us a lot of benefits buthas created some serious problems as well.  </p>
        <p> 10. 根据图表/数字/统计数字/表格中的百分比/图表/条形图/成形图可以看出…。然而，很显然……，但是为什么呢？  According to the figure/number/statistics/percentages in the /chart/bar graph/line/graph，it can be seen that______ while, Obviously，______，but why?</p>
        <p>几个常用文章层次  </p>
        <p> 1, 开头段：先讲重要性，然后转讲不好的地方。中间段：措施 . 结尾段：先来个小转折再进入总结  </p>
        <p>开头段Nowadays with the rapid development of advanced ……., more and more…..  are commonly and widely used in everyday life. However, what worries most of us is that……</p>    <p> 中间段 Firstly….Secondly…..Lastly but in no means least…… </p>
        <p>结尾段 To conclude,  …..are just like a double-edged sword. With them we may have less trouble dealing with problems in life and enjoy a better-off life. However, one point should be kept in mind that we should take sensible use of them , always being the master of them</p>
      </div>
    </div>
  </div>
  <div class="right-frame-button"></div>
</div>
{% endblock %}