<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>雅思英语</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/comment.css">
  <link rel="stylesheet" href="/css/comment2.css">
  <link rel="stylesheet" href="/css/yuedu.css">
</head>
<style>
  *{
    padding:0;
    margin: 0;
  }
  body{
    background: #f7f8fa;
  }
</style>
<body>
<div class="logo">
  <img src="/img/logo.png"/>
  <div class="more-title1">
    <ul>
      <li><a href="/#transform">课程分类</a></li>
      <li><a href="/management/user_message">信息管理</a></li>
    </ul></div>
    <i class="fa fa-user sign1" aria-hidden="true"></i>
    <i class="fa fa-registered sign2" aria-hidden="true"></i>
  <div class="right_logo">
    <ul>
      <li><a href="/login">登录</a></li>
      <li><a href="/register">注册</a></li>
    </ul>
  </div>
</div>
{% block content %} {% endblock %}
<div class="footer">
  <p class="about-title">
    <strong>本科生在线英语学习系统</strong>
  </p>
  <p>这是一个致力于打造本科生简单学习英语的在线学习平台</p>
  <p>这里能让你看见你所需要的资料，让你快速的加入到学习当中去</p>
</div>
</body>
</html>