{% extends 'common.html' %}

{% block main %}
<div class="content">
		<ul>
			<li>
				<a href="/practice/part1/siliutiankong">
					<img src="/img/yuedu.png"/>
					<p><span class="p-text">完型填空</span></p>
			</a>
			</li>
			<li>
				<a href="/practice/part1/siliuyuedu">
					<img src="/img/zuowen.png"/>
					<p><span class="p-text">阅读理解</span></p>
			</a>
			</li>
			<li>
				<a href="/practice/part1/siliuzuowen">
					<img src="/img/yuedu.png"/>
					<p><span class="p-text">作文训练</span></p>
				</a>
			</li>
		</ul>
	</div>
{% endblock %}}